@charset "utf-8";
body {
  margin: 0 !important;
  padding: 0 !important;
  width: auto !important;
  max-width: none !important;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.sp-block{
  display: block !important;
}
.sp-inline-block{
  display: inline-block !important;
}
.pc-block{
  display: none!important;
}
.pc-inline-block{
  display: none !important;
}
ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#tp-header {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  display: block;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-bottom: 1px solid #dcdcdc;
  height: auto;
  box-shadow: none;
  z-index: 10001;
  line-height: normal;
  background-color: #fff;
  text-align: left;
}
#tp-header > div.clearfix {
  display: block;
  width: 92%;
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
}
#tp-logo {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
#tp-logo > a {
  display: block;
  max-width: 250px;
  width: 80%;
  text-decoration: none;
}
#tp-logo > a img {
  width: 100%;
  max-width: 105px;
  height: auto;
  display: block;
  float: left;
}
#tp-logo > a span {
  display: inline-block;
  color: #0096e0;
  font-size: 12px;
  font-weight: bold;
  padding: 1.6% 0 0;
  margin: 0 0 0 10px;
}
#tp-upper-nav{display: none;}
#tp-nav-btn {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 24px;
  height: 22px;
}
#tp-nav-open {
  cursor: pointer;
  display: block;
  width: 100%;
  height: auto;
}
#tp-nav-close {
  cursor: pointer;
  display: none;
  width: 100%;
  height: auto;
}
#tp-header-search {
  display: none;
  width: 100%;
  height: 100%;
}
#tp-header fieldset {
  border: none;
}
#tp-header legend {
  display: none;
}
#tp-header-search {
  position: relative;
  overflow: hidden;
  border-radius: none;
}
#SS_searchForm {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: none;
}
#tp-header-search fieldset {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #0096e0;
}
#SS-searchQuery {
  border: none;
  width: calc(100% - 53px);
  height: 100%;
  padding: 0 0 0 10px;
  background-color: #fff;
  font-size: 14px;
  line-height: 1;
  position: absolute;
  left: 0;
  border-radius: 0;
}
#SS-searchSubmit {
  position: absolute;
  width: 43px;
  height: 43px;
  right: 0;
  top: 0;
  background-color: #0096e0;
  border-radius: none!important;
}
#tp-nav {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  display: none;
  position: absolute;
  z-index: 10001;
  background: #0096e0;
  width: 100%;
  top: 47px;
  left: 0;
  margin: 0;
  padding: 0;
}
#tp-nav li {
  text-align: center;
  display: block;
  width: calc(100% - 20px);
  padding: 0 10px;
  height: 44px;
  font-size: 12px;
  border-bottom: 1px solid #fff;
  position: relative;
}
#tp-nav li::after {
  position: absolute;
  content: "";
  background: url(/common/img/tp_gnav_arrow.png) no-repeat right top;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto 0;
  display: block;
}
#tp-nav li > a {
  color: #fff;
  height: 40px;
  line-height: 40px;
  display: block;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
}
.tp-header-search {
  width: 100%!important;
  margin: 0!important;
  padding: 0!important;
  border-bottom: 1px solid #0096e0!important;
  background-color: #fff!important;
}
.tp-header-search::after {
  background: none!important;
}
#TP_topic-path {
  display: block;
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
  height: auto;
  background-color: #fff;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  text-align: left;
}
#TP_topic-path ul {
  display: block;
  width: 92%;
  margin: 0 auto;
  padding: 2px 0 5px;
}
#TP_topic-path ul li {
  display: inline-block;
  font-size: 10px!important;
  line-height: .8;
  margin: 0;
  color: #333;
}
#TP_topic-path ul li > a {
  color: #0096e0;
  margin-right: 20px;
  text-decoration: none;
  line-height: 1;
  font-size: 10px!important;
  display: block;
  position: relative;
  overflow: visible;
}
#TP_topic-path ul li.patharrow {
  margin-right: 20px;
  text-decoration: none;
  line-height: 1;
  font-size: 10px!important;
  display: inline;
  position: relative;
}
#TP_topic-path ul li a::after,
#TP_topic-path ul li.patharrow::after {
  content: "＞";
  position: absolute;
  right: -17px;
  font-size: 8px;
  display: block;
  width: 1em;
  color: #666;
  height: 1em;
  top: 0;
  line-height: 1;
}
#tp-footer {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0 0 15px;
  background-color: #fff;
}
#tp-footer ul {
  display: block;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
#tp-footer ul li:nth-of-type(1) {
  border-top: 1px solid #e7e7e7;
}
#tp-footer ul li {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 12px;
  border-bottom: 1px solid #e7e7e7;
}
#tp-footer ul li > a {
  padding: 15px 12px;
  display: block;
  width: calc(100% - 24px);
  height: calc(100% - 30px);
  text-decoration: none;
  color: #333;
  position: relative;
}
#tp-footer ul li > a::after {
  position: absolute;
  content: "";
  background: url(/common/img/ico_arrow.png) no-repeat right center;
  background-size: 6px 11px;
  display: block;
  width: 6px;
  height: 11px;
  right: 12px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
#tp-footer ul li > a:hover {
  opacity: .6
}
#tp-footer > a {
  display: block;
  width: 100%;
  max-width: 100px;
  height: auto;
  margin: 15px auto 10px;
}
#tp-footer > a img {
  display: block;
  width: 100%;
  height: auto;
}
#tp-footer small {
  font-size: 8px;
  text-align: center;
  margin: 10px 0 0;
  padding: 0 12px;
  line-height: 1;
  display: block;
  color: #333;
}
#tp-copyright {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#tp-top {
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  bottom: 0;
}
#tp-top > img {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}
